#wrapper {
  position: relative;
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: #555555 solid 1px;
}

.element {
  border-radius: 5px;
  position: absolute;
}
.add_element{
  display: inline-block;
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

#elema {
  background-color: #ff6363;
}
#elemb {
  background-color: #4285f4;
}
#elemc {
  background-color: khaki;
}
.elema {
  @extend #elema;
  @extend .add_element;
}
.elemb {
  @extend #elemb;
  @extend .add_element;
}
.elemc {
  @extend #elemc;
  @extend .add_element;
}

.edit {
  padding: 20px;
  height: 500px;
  background-color: #555555;
  color: #FFF;
}

body {
}

.history {
  background-color: #ff6363;
  padding: 10px 50px 20px 20px;
  display: inline-block;
  margin: 5px;
}

.add_move{
  display: inline-block;
  background-color: aqua;
  color: #232323;
  width: 100px;
  height: 100px;
}

.selected{
  outline: chartreuse solid 2px;
}

#mouse{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ff6363;
  display: none;
}
