.element, .add_element {
    display: inline-block;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #000;
}

#rect, .rect {
    width: 50px;
    height: 50px;
}

#ellipse, .ellipse {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.sketch_wrap {
    width: 30%;
    display: inline-block;
}

.sketch_wrap img {
    display: inline-block;
}

.elem_wrap{
    display: inline-block;
    flex: 1;
    text-align: center;
    vertical-align: center;
}