#editor {
    width: 1600px;
    margin: 0 auto;
}

#editor_wrapper {
    width: 100%;
    min-height: 800px;
    display: flex;
}

.left {
    width: 400px;
}

.center {
    flex-grow: 1;
    min-width: 800px;
}

.right {
    width: 400px;
}

#canvas {
    position: relative;
    width: 800px;
    height: 800px;
    background-color: #FFFFFF;
    outline: lightgrey solid 1px;
    left: 0;
    right: 0;
    margin: auto;
}

.remove {
    display: block;
    background-color: #ff6363;
    font-size: 1em;
    color: #FFFFFF;
    width: 80%;
    text-align: center;
    border: none;
    margin: auto;
}

.elements {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
    padding: 10px;
    background-color: lightgrey;

    display: flex;
}

.para_wrap{
    background-color: lightgrey;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 0 30px 0;
}

table.parameter {
    padding: 10px;
    color: #555;
    font-size: 1em;
    margin: auto;
}

th{
    padding: 0 10px 0 10px;
    width: 50%;
}

.align-items{
    text-align: center;
}

table.parameter input[type='text'] {
    width: 100%;
    border: 0;
    padding: 5px;
    color: #555555;
    margin: 5px 0 5px 0;
    border-radius: 2px;
    font-size: 1em;
}

.parameter_name{
    width: 90px !important;
}

/*コピペ*/

.edit {
    color: #FFF;
}

.history{
    /*TODO 色！！*/
    background: linear-gradient(to left, #88a5f4, #4285f4);

    margin: 0;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: #232323 1px solid;
}

.history p {
    display: none;
}

div.player button {
    background-color: #FFFFFF;
    padding: 10px;
}

.selected {
    outline: chartreuse solid 3px;
}

#timeline {
    background-color: #bbb;
    width: 100%;
    margin: auto;
}

.progress {
    width: 100%;
}

#history {
    white-space: nowrap;
    position: relative;
    min-height: 300px;
}


[type="range"] {
    -webkit-appearance:none;
    cursor:pointer;
    width:100%;
    vertical-align:middle;
    background-color: #aaa;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}

[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;

    cursor:pointer;
    position:relative;
    z-index:5;

    /*TODO 色*/
    border-top: 20px solid #FFFFFF;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;

    width:20px;
    height:20px;
}